<table>
    <tr>
        <td>Имя:</td>
        <td><div location="name"/></td>
    </tr>
    <tr>
        <td>Пароль:</td>
        <td><div location="password"/></td>
    </tr>
    <tr>
        <td style="width:180px;">Повтор пароля:</td>
        <td><div location="repeat"/></td>
    </tr>
    <tr>
        <td>Группа:</td>
        <td><div location="group"/></td>
    </tr>
    <tr>
        <td height="50px"><div location="addbutton"/></td>
        <td><div location="close"/></td>
    </tr>
</table>