<table>
    <tr>
        <td><div location="addButton" style="margin-right:10px;margin-top:10px;margin-bottom:10px"/></td>
        <td><div location="changePass" style="margin-right:10px;margin-top:10px;margin-bottom:10px"/></td>
        <td><div location="changeGroup" style="margin-right:10px;margin-top:10px;margin-bottom:10px"/></td>
        <td><div location="groupDev" style="margin-right:10px;margin-top:10px;margin-bottom:10px"/></td>
        <td><div location="deleteButton" style="margin-right:10px;margin-top:10px;margin-bottom:10px"/></td>
        <td><div location="close" style="margin-right:10px;margin-top:10px;margin-bottom:10px"/></td>
    </tr>
</table>