<center>
    <table>
        <tr>
            <td>Тип подключения</td><td><div location="typeConnect"/></td>
        </tr>
        <tr>
            <td>Логин</td><td><div location="loginConnect"/></td>
        </tr>
        <tr>
            <td>Пароль</td><td><div location="passConnect"/>></td>
        </tr>
        <tr>
            <td>База данных</td><td><div location="nameDatabaseConnect"/></td>
        </tr>
        <tr>
            <td><div location="okbutton"/></td><td><div location="cancelbutton"/></td>
        </tr>
    </table>
</center>